body {
  background-color: gold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.balance {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.balance h5 {
  display: flex;
  justify-content: space-between;
}

/*Header*/

.navbar {
  height: 150px;
  background-color: aquamarine;
}
.navbar-brand {
  font-size: 50px;
}
.navbar-link a {
  font-size: 60px;
}
.nav-link {
  margin-left: 15px;
}

/*main-categories*/

.main-categories {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container-main-categories {
  width: 900px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}

.form-categories {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.imput-button {
  width: 100%;
  padding: 5px;
}

input {
  width: 700px;
  border-radius: 5px;
  padding: 5px;
}

.example-row {
  display: flex;
  justify-content: space-between;
}

.example-container {
  padding: 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 8px;
}
