body {
  background-color: gold;
  height: 1500px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.balance {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.balance h5 {
  display: flex;
  justify-content: space-between;
}

/*Header*/

.navbar {
  height: 150px;
  background-color: aquamarine;
}
.navbar-brand {
  font-size: 50px;
}
.navbar-link a {
  font-size: 60px;
}

/*Balance Carta*/
.card-balance-carta {
  width: 500px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  height: 500px;
}
/*Filtros Carta*/
.col-filtros-carta {
  width: 500px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  left: 15px;
  top: -280px;
  height: 500px;
}
.form {
  flex-direction: column;
}

.filtros {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container-btn-ocultar-filtros {
  display: flex;
  justify-content: space-between;
}

.operaciones {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/*Main Balance*/
.card-balance-main {
  width: 1000px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  height: 800px;
}

/*REPORTES STYLES*/

/*HOJA DE REPORTES INSUFICIENTES*/
.card-insuficiente {
  width: 900px;
  height: 750px;
  border-radius: 10px;
  color: black;
  padding: 10px;
  background-color: aliceblue;
}
.card-title {
  font-size: 40px;
}
.operaciones-insuficientes {
  font-size: 24px;
  text-align: center;
}
.card-text {
  font-size: 16px;
  text-align: center;
}
.imagen-reportes {
  margin-left: 100px;
  height: 350px;
  margin: 80px;
}
.container {
  margin-top: 100px;
}

/*HOJA DE REPORTES*/
.card-reportes {
  width: 900px;
  height: 900px;
  border-radius: 10px;
  color: black;
  padding: 10px;
  background-color: aliceblue;
}
.titulo-reportes-h4 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
